@import url("https://use.typekit.net/myq7mua.css");
.App {
  /* background-color: #6500d1; */
  font-family: "Muli";
}

.Card.hover-effects:hover {
  background-color: rgba(255, 0, 0, 0.3) !important;
  transform: scale(1.05);
}
